.title {
  display: flex;
  padding: 0 30px;
  align-items: center;
  justify-content: space-between;
}

.title-button {
  color: #2CF;
  background:none;
  border:none;
  cursor: pointer;
  font-size: 18px;
}
